doctype html
html(lang='en')
  head
    title #{title} 
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='assets/images/icons/favicon.ico')
    link(rel='stylesheet', type='text/css', href='assets/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='assets/vendor/animate/animate.css')
    link(rel='stylesheet', type='text/css', href='assets/vendor/css-hamburgers/hamburgers.min.css')
    link(rel='stylesheet', type='text/css', href='assets/vendor/select2/select2.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/util.css')
    link(rel='stylesheet', type='text/css', href='assets/css/main.css')
  body
    .limiter
      .container-login100
        .wrap-login100
          .login100-pic.js-tilt(data-tilt='')
            img(src='assets/images/img-01.png', alt='IMG')
          form(class='login100-form validate-form', method='post') 
            span.login100-form-title
              | Sign Up
            h6.text-center(style='color:red') #{error}  
            .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
              input.input100(type='text', name='email', placeholder='Email', required)
              span.focus-input100
              span.symbol-input100
                i.fa.fa-envelope(aria-hidden='true')
            .wrap-input100.validate-input(data-validate='Password is required')
              input.input100(type='password', name='pass', placeholder='Password', required)
              span.focus-input100
              span.symbol-input100
                i.fa.fa-lock(aria-hidden='true')
            .container-login100-form-btn
              button.login100-form-btn
                | Sign Up
            .text-center.p-t-136
              a.txt2(href='/login')
                | Already Signed Up? login
                i.fa.fa-long-arrow-right.m-l-5(aria-hidden='true')
    script(src='assets/vendor/jquery/jquery-3.2.1.min.js')
    script(src='assets/vendor/bootstrap/js/popper.js')
    script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
    script(src='assets/vendor/select2/select2.min.js')
    script(src='assets/vendor/tilt/tilt.jquery.min.js')
    script.
      $('.js-tilt').tilt({
      scale: 1.1
      })
    script(src='assets/js/main_login.js')
